@import "bootstrap";

//variables
$lightGray: #999;

//mixins
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

//general settings
html {
	overflow-y: scroll;
}

body {
	margin: 0;
	height: 100%;
	padding-top: 60px;
	padding-bottom: 30px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

header .container {
	height: 70px;
	nav {
		padding-top: 10px;
	}
	margin-bottom: -10px;
}

#main_application_container {
	padding-top: 20px;
}

#home_page_header {
	width: 100%;
	background-image: image-url('banner2.jpg');
	height: 400px;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.left {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $lightGray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	//padding-top: 20px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: #fff333;
		text-decoration: none;
	}
}

.logo_container{
	float: left;
	margin: 0;
	padding: 0;

	#text_for_logo{
		padding-top: 10px;
		float: left;
		width: 300px;
	}
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	height: 30px;
	color: $lightGray;
	background-color: #000;
	a {
		color: #555;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar{
	margin-right: 10px;
	border: 1px solid black;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.users { 
	list-style: none;
	margin: 0;
	li{
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child { 
			border-bottom: 1px solid $grayLighter;
		}
	}
}

.microposts { 
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
}

.content { 
	display: block;
}

.timestamp { 
	color: $grayLight;
}

aside {
	textarea{
		height: 100px;
		margin-bottom: 5px;
	}
}