<footer class="footer">
	<div class="container">
		<small>
			<a href="#">&copy; 2013 Katata Network. All Rights Reserved.</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Contact", contact_path %></li>
				<li><%= link_to "Feed", '#' %></li>
			</ul>
		</nav>
	</div>
</footer>